<div id="<%= dom_id user %>">
  <p>
    <%= gravatar_for(user) %><br>
    <%= user.name %><br>
    <%= user.email %>
    <p>Followers:</p><%= user.followers.count %>
    <p>Following:</p><%= user.following.count %>
  </p>

</div>
