<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class="post-like-section">
  <% if user_signed_in? %>
    <% if @post.liked_by?(current_user) %>
      <%= button_to 'Unlike', post_unlike_path(@post), method: :delete, class: 'btn btn-primary' %>
    <% else %>
      <%= button_to 'Like', post_like_path(@post), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <div class="likes-count">
    Likes: <%= @likecount %>
  </div>
</div>

<%# Show existing comments %>
<div class="comments">
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.content %></p>
      <small>By <%= comment.user.name if comment.user %> on <%= comment.created_at.strftime("%B %d, %Y") %></small>
    </div>
  <% end %>
</div>

<%= form_with(model: [@post, @comment], local: true) do |form| %>
    <% if @comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
  
        <ul>
          <% comment.errors.each do |error| %>
            <li><%= @comment.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>22
  
    <%= form_with(model: [@post, @comment], local: true, html: { class: 'comment-form' }) do |f| %>
      <div class="field">
      <%= f.text_area :content %>
      <%= f.submit "Create Comment", data: { disable_with: 'Submitting...' } %>
  </div>
<% end %>


<% end %>
  
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
